body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(143, 180, 188);
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 4px;
    margin-top: 20px;
    background-color: antiquewhite;
  }

  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }

  .controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }